@import "../node_modules//bootstrap//dist/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";

*{
  font-family: 'Chillax', sans-serif;
}

:root {
  --main-color: rgb(214, 187, 159);
  --background-color: rgb(19, 19, 19);
  --text-color: rgb(240, 248, 255);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Nav */
nav {
  background-image: linear-gradient(175deg, black, rgba(0, 0, 0, 0.795));
}
.btn {
  color: var(--main-color);
}
.text-myColor {
  color: var(--main-color)
}
.collage-gradient {
  background-image: linear-gradient(120deg, rgb(0, 0, 0), transparent);
}

/* Base tags */
h1 {
  font-size: 2.0rem;
  font-weight: 600;
}
p {
  text-align: justify;
  font-size: 1.1rem;
}
i {
  transition: 0.05s ease-in-out;
  font-size: 5rem;
  padding-right: 0.5rem;
}
i:hover {
  font-size: 5.5rem;
}

/* Section Components */
.sectionDivider {
  margin: 2rem;
  border: 2px solid rgba(128, 122, 103, 0.801);
}
.sectionBtn {
  background-image: linear-gradient(-45deg, black, rgb(119, 115, 93));
  border: 1px solid grey;
  padding: 0.5rem 1.2rem;
  border-radius: 2rem;
  
  position: absolute;
  width: 8.6rem;
  top: -1.3rem;
  right: 5rem;

  transition: 1s ease;
}
.sectionBtn p {
  font-size: 0.95rem;
}
.sectionBtn:hover {
  border: 0px;
}

.details-cover {
  background-position: center center;
  background-size: cover;
  height: 30rem;
  width: 100%;
}
/* Featuring Section */
#featuring-section{
  background-position: top center;
  background-size: cover;
  padding: 4rem 2rem;
  width: 100%;
}
.mySpan {
  background-color: #7a7a7a57;
  padding: 0.2rem 0.7rem;
  display: inline-block;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}
.heroBtn{
  background-image: linear-gradient(-45deg, transparent, rgba(173, 166, 129, 0.692));
  background-color: none;
  border: 1px solid grey;
  border-radius: 2rem;
  font-size: 1rem;

  transition: 1s ease;
}
.heroBtn i {
  font-size: 1.5rem;
}
.heroBtn:hover {
  border: 0px;
}

/* Cards */
.myCardPanel {
  background-image: linear-gradient(125deg, rgb(0, 0, 0), rgba(175, 172, 133, 0.384));
  width: 100%;
  z-index: 1;
  
  transition: 0.35s ease-in-out;
  visibility: hidden;
  height: 0%;
}
.myCard:hover .myCardPanel {
  visibility: visible;
  height: 100%;
}
.myCardContent {
  transition: 0.3s all;
  opacity: 0;
}
.myCardContent i {
  color: aliceblue;
}
.myCard:hover .myCardContent {
  opacity: 1;
}

/* Footer */
footer {
  background-color: #222220;
  color: rgb(94, 94, 91);
}
footer a {
  color: rgb(99, 99, 79);
}

@media (max-width: 600px) {
  .details-cover {
  height: 12rem;
  } 
}

